:root {
  --bg-p-color: #333232;
  --bg-p-light-color: #383838;
  --text-p-color: whitesmoke;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  background: var(--bg-p-color);
  color: var(--text-p-color);
  height: 2rem;
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "panel pantalla";
  width: 100vw;
  height: calc(100vh - 4rem);
}

.panel {
  grid-area: panel;
  background: var(--bg-p-color);
  height: calc(100vh - 4rem);
  display: flex;
  flex-flow: column wrap;
  padding: 1rem;
  /* align-items: center; */
}
.notes {
  grid-area: pantalla;
  background: var(--bg-p-light-color);
}
.notes-edit {
  width: 50%;
  text-align: center;
  float: left;
}
.notes-edit__form {
  display: flex;
  padding-left: 2rem;
  flex-flow: column wrap;
  align-items: flex-start;
}
.notes-edit__form__input {
  border: none;
  background: var(--bg-p-light-color);
  color: var(--text-p-color);
  font-size: 2rem;
  width: 100%;
}
.notes-edit__form__textarea {
  resize: none;
  width: 100%;
}
.notes-edit__form__btn {
  width: 5rem;
  height: 2rem;
}
.notes-preview {
  width: 50%;
  float: left;
  text-align: center;
}
.panel-listNotes {
  list-style: none;
  padding: 0;
}
.panel-listNotes__item {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
  color: var(--text-p-color);
}
.panel-listNotes__item__buttonwrapper {
}
.panel-listNotes__item__buttonwrapper button {
  background: var(--bg-p-color);
  border: none;
  color: var(--text-p-color);
}
.pinned {
  /* background: cornflowerblue !important; */
}
